<head>
  <title>Stylekick</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>


<div class="global_container">


	<div class="top_bar">
	</div>

	<div class="logo_container">
		<div class="logo_beta">
			<%= image_tag "logo-beta.png" %>
		</div>
	</div>

	<div id="splash2_search_container">
		<div id="splash2_search_image">
			<%= image_tag "woman_shopping.png" %>
		</div>
		<div id="splash2_search_description">
			<div id="splash2_search_button">
				<%= image_tag "search_button.png", width:75 %>
			</div>
				<div id="splash2_search_content">
					<div id="splash2_search_header">
						SEARCH
					</div>
					<div id="splash2_search_details">
						Shop for clothes that fit the way you want
					</div>
				</div>
		</div>	
	</div>

	<div id="splash2_compare_container">
		<div id="splash2_compare_image">
			<%= image_tag "woman_holding_dresses.png" %>
		</div>
		<div id="splash2_compare_description">
				<div id="splash2_compare_button">
					<%= image_tag "compare_button.png", width:75 %>
				</div>
					<div id="splash2_compare_content">
						<div id="splash2_compare_header">
							COMPARE
						</div>
						<div id="splash2_compare_details">
							the fit of clothes you love to those you want
						</div>
					</div>
				</div>	
	</div>

	<div id="splash2_add_container">
		<div id="splash2_add_image">
			<%= image_tag "clothes_in_closet.png" %>
		</div>
			<div id="splash2_add_description">
				<div id="splash2_add_button">
					<%= image_tag "add_button.png", width:75 %>
				</div>
					<div id="splash2_add_content">
						<div id="splash2_add_header">
							ADD
						</div>
						<div id="splash2_add_details">
							Keep track of the clothes you own
						</div>
					</div>
				</div>
	</div> 

	<div class="splash2_login_signup">

			<div id="splash2_signup_button">
				SIGN UP
			</div>

			<div id="splash2_login_button">
				LOG IN
			</div>

	</div>

</div>
</body>
